<!DOCTYPE html>

<html lang="en-GB" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Dancing+Script|Lato|Lustria&display=swap"
      rel="stylesheet"
    />
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <header>
      <div class="container">
        <img
          src="/img/simonkim.jpg"
          alt="Photo of Simon and Kim"
          class="simonkim-photo"
        />
      </div>

      <div class="container">
        <h1 class="heading">
          <span class="heading__span fancy-big fade-in">The Wedding Of</span>
          <span class="heading__span plain move-in move-in-left"
            >Simon Baker</span
          >
          <span class="heading__span fancy fade-in delay1">&</span>
          <span class="heading__span plain move-in move-in-right"
            >Kimberly Bardi</span
          >
          <span class="heading__span fancy fade-in delay2"
            >29th August 2020</span
          >
        </h1>
      </div>
    </header>

    <main>
      <section class="container">
        <h2 class="subheading">COVID-19 Status</h2>

        <h3 class="subheading date">28/06/20</h3>

        <p>
          The government are now permitting weddings to proceed with a maximum
          guest limit of 30 guests, depending on the venue's ability to
          accommodate guests whilst maintaining social distancing. As such, we
          are currently only permitted 16 guests at our chosen venue. This means
          that only our immediate family members will be able to attend the
          wedding ceremony. For the time being, we regretfully must ask that
          guests who are invited to the ceremony do not attend unless contacted
          directly.
        </p>

        <p>
          Our wedding reception has now been postponed. We will not be rebooking
          a specific date for the time being, but hope to be able to host a
          larger party with all of our guests later in the autumn or winter.
        </p>

        <!-- <h3 class="subheading date">17/05/20</h3>

        <p>
          The government are currently starting to ease certain lockdown
          measures and as such weddings with a limited number of guests can take
          place from June, with an expected increase to the guest limit in July.
          We will therefore be proceeding with the ceremony as planned on 29th
          August.
        </p> -->

        <h3 class="subheading date">17/04/20</h3>

        <p>
          We request that all invited guests RSVP using the link to the form at
          the bottom of the page on the basis that the government will allow our
          wedding and reception to safely take place.
        </p>

        <p>
          However, it may transpire that not all guests who have been invited to
          the ceremony will be permitted to attend, depending on what
          restrictions are still being enforced by the government with regard to
          guest limits and social distancing. In this case, we will postpone the
          reception so that we are able to celebrate with all of our guests at a
          later date.
        </p>

        <p>
          We therefore request that you check this page regularly for updated
          information regarding our plans for the ceremony and reception.
          Additionally, we will make every effort to contact all guests
          regarding any enforced changes to our plans.
        </p>
      </section>

      <section class="container">
        <h2 class="subheading">Ceremony &ndash; Dudley Register Office</h2>

        <p>
          The marriage ceremony will take place on Saturday 29th August 2020 at
          15:00.
        </p>

        <p>
          Dudley Register Office is located at Priory Hall, Priory Park, Dudley,
          DY1 4EU. Parking is available towards the rear of the building.
        </p>

        <p>
          Following the marriage ceremony, guests will gather in the grounds of
          Priory Park whilst photographs are taken of the wedding party.
        </p>

        <p>
          Afterwards, the wedding party and guests will travel to the reception
          venue in the village of Bishops Wood, Staffordshire. The 15-mile
          journey should take between 30 and 40 minutes via the A4123 and A41.
        </p>

        <img
          src="/img/dudleyregistryoffice.jpg"
          alt="Photo of Dudley Registry Office"
          class="venue-photo"
        />
      </section>

      <section class="container">
        <h2 class="subheading">Reception &ndash;Bishops Wood Village Hall</h2>

        <p>
          Bishops Wood Village Hall is located at the junction of Ivetsy Bank
          Road and Offoxey Bank Road, in the village of Bishops Wood,
          Staffordshire, ST19 9AB. Parking is available within the grounds of
          the village hall.
        </p>

        <p>
          The wedding party is expected to arrive at the venue at approximately
          17:00.
        </p>

        <p>
          Drinks will be served to guests as they arrive. Following arrival,
          guests will be seated whilst toasts and speeches are made and a
          wedding breakfast is served in the form of a hot and cold buffet.
        </p>

        <p>The bar will remain open until 23:45.</p>

        <img
          src="/img/bishopswood.jpg"
          alt="Photo of Dudley Registry Office"
          class="venue-photo"
        />
      </section>

      <section class="container">
        <a href="/form" class="link form-access">
          Click here to access the wedding RSVP form.
        </a>
      </section>
    </main>
  </body>
</html>
